body 
{
    background-color: #white;
    overflow: none }

p 
{font-size: 2em;
font-family:Cambria, Cochin, , Times, 'Times New Roman', serif;
color:#000000;
}


h1 {;
    font-size: 4em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color:#691010;  
    text-align: center;
    margin-top: 0px;     
}

h2 { font-size: 2em;
    text-align: center;
}


}

section {background-color:#ffffff;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
width:90%;
color:#000000;
}

.subCCs {
    background-color: #000000;
    width: 13em;
    height: 20em;
    border: 1px solid #ffffff;
    overflow: hidden;
    float: left;
    clear: right;
    padding: 0.1em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    margin-bottom: 0.2em;
    margin-top: 0.2em
}

article {background-color:#d4d4d4;
font-family: Cambria, Cochin, , Times, 'Times New Roman', serif;
width:95%;
color:#000000;
    
    
}
img { height:100%;
width:50%;
border-style:groove;
border-color:#000000;
border-width:small
}

    
}
img { height:100%;
width:50%;
border-style:groove;
border-color:#000000;
border-width:small
}
