body
{background-color: #9bOeOe
p
{font-family: Verdana, Geneva, Tahoma, sans-serif;
color:#FF9F00;
text-align: center;
font-size: 1.5em}
section
{background-color: #350000af;
width: 90%}
img
{height: 50%; 
    width: 50%;
    border: 1,5px solid #000000; 
    border-radius: 90%}