body {background-color:#e6ccff;
}
p {font-size: 2em;
font-family:Times New Roman;
color:#000000;
}
section {background-color:#80ccff;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
width:90%;
color:#000000;
}
article {background-color:#ffffcc;
font-family: American Typewriter;
width:95%;
color:#000000;
}
img { height:250px;
width:35%;
border-style:groove;
border-color:#800040;
border-width:medium;
}