*{
    background-color: transparent;}

body
{
    /*
    margin: 0;
    padding: 0;

    background: #232323;
    color: #cdcdcd;
    font-family: "Avenir Next", "Avenir", sans-serif;

     */
}

a
{
    text-decoration: none;

    transition: color 0.3s ease;
}

a:hover
{
    color: #ff001e;
}

#menuToggle
{
    display: block;
    position: relative;
    top: 50px;
    left: 50px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input
{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #000000;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child
{
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
    transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #000000;
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
    transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
    position: absolute;
    width: 250px;
    margin: 63px 0 0 -50px;
    padding: 125px 10px 10px;

    background: #ffffff;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
    padding: 10px 0;
    font-size: 22px;
}


#menuToggle input:checked ~ ul
{
    transform: none;
}


.C {
    background-color: #ffffff;
    width: 50%;
    height: 8em;
    border: 1px solid #ffffff;
    overflow: hidden;
    float: left;
    padding: 0.1em;
    margin: 0.2em;

}


.left {
    float: left;
    width:0%;
    padding:15px;
    margin-top:7px;
    text-align:center;

}

.maina {
    float:left;
    width:50%;
    border: 1px solid #ffffff;
    margin-left: auto;
    margin-right: auto;

}
.right {
    float:right;
    width:20%;
    padding:15px;
    margin-top:7px;
    text-align:center;
}


.asideright

{
    color: #000000;
    font-size: 14px;
    color: #000000;
    text-align: left;
    width: 40%;
    float: right;
    overflow: hidden;
}


@media only screen and (max-width:620px) {
    /* For mobile phones: */
    .menu, .main, .right {
        width:100%;
    }
}


div#wrapperHeader {
    width:100%;
    height;200px; /* height of the background image? */
    text-align:center;
}

div#wrapperHeader div#header {
    width:1000px;
    height:550px;
    margin:0 auto;
}

div#wrapperHeader div#header img {
    width:1000px; /* the width of the logo image */
    height:auto; /* the height of the logo image */
    margin:0 auto;
}


#gal {
    width:400px;
    overflow:hidden;
    border:0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#gal #ausgabe {
    width:2000px;
    float:left;
    position:relative;left:0;
    -moz-transition: 1s;
    -o-transition: 1s;
    -webkit-transition: 1s;
}

#gal a {
    position:relative;
    float:left;
}


#gal a + a + a + a + a img {
    margin-right: 0;
    width:80px;
    height:79px;
}
#gal img {
    width:400px;
    float:left;

}

#gal a img {
    width:79px;
    margin: 0 1px 1px 0;
}

#gal a:hover:before , #gal a:focus:before {
    content:"";
    position:absolute;
    top:0;left:0;right:1px;bottom:1px;
    background:#ffffff;
}

#gal a:hover ~ #ausgabe , #gal a:focus ~ #ausgabe {
    left:0;
}

#gal a + a:hover ~ #ausgabe , #gal a + a:focus ~ #ausgabe {
    left:-400px;
}

#gal a + a + a:hover ~ #ausgabe , #gal a + a + a:focus ~ #ausgabe {
    position:relative;
    left:-800px;
}

#gal a + a + a + a:hover ~ #ausgabe , #gal a + a + a + a:focus ~ #ausgabe {
    position:relative;
    left:-1200px;
}

#gal a +  a + a + a + a:hover ~ #ausgabe , #gal a +  a + a + a + a:focus ~ #ausgabe {
    position:relative;
    left:-1600px;
}

